<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="WrapperMagickTest">
            <directory>tests/WrapperMagick/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/WrapperMagick/</directory>
        </whitelist>
    </filter>
</phpunit>
